<!DOCTYPE html>
<html lang="ja">

  <head>
    {% include 'ga.html' %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <meta name="author" content="Masato Hagiwara">

    <meta property="og:site_name" content="Masato Hagiwara's Page"/>
    <meta property="og:title" content="{{ title }}"/>
    {% if description %}<meta property="og:description" content="{{ description }}"/>{% endif %}
    <meta property="og:locale" content="ja_JP"/>
    <meta property="og:url" content="http://masatohagiwara.net/{{ url }}"/>
    <meta property="og:type" content="article"/>
    {% if image %}<meta property="og:image" content="{{ image }}">{% endif %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    {% if description %}<meta name="twitter:description" content="{{ description }}" />{% endif %}
    {% if image %}<meta name="twitter:image" content="{{ image }}" />{% endif %}

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.css" rel="stylesheet">

    <style>
      body {
        font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
                    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: 'Noto Sans JP', sans-serif;
      }
    </style>

    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </head>

  <body id="page-top">

    {% include 'navbar.html' %}
    <div class="container-fluid p-0">
         <section class="resume-section p-3 p-lg-5 d-flex d-column">
             <div class="my-auto">
                 {{ body|safe }}
             </div>
         </section>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>
